body {
  margin: 0;
  font-family: Roboto;
  user-select: none;
}

[class^="muidocs-icon-"], [class*=" muidocs-icon-"] {
  font-family: 'material-ui-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.muidocs-icon-navigation-expand-more:before {
	content: "\e603";
}
